<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create User</h1>
<hr>
<a th:href="@{/}">Home</a> |
<a th:href="@{/admin}">List Users</a> |
<a th:href="@{/logout}">Logout</a>
<hr>
<form th:action="@{/admin/create}" method="post">
    <label>Name</label><br>
    <input th:field="*{model.username}"><br><br>
    <label>Password</label><br>
    <input th:field="*{model.password}"><br><br>
    <label>Email</label><br>
    <input th:field="*{model.email}"><br><br>
    <label>Roles</label><br>
    <select th:field="*{model.roles}" multiple>
        <th:block th:each="role : ${model.getRoles()}">
            <option th:value="${role.id}" th:text="${role.name}"></option>
        </th:block>
    </select><br>
    <input type="submit" value="save">
</form>
</body>
</html>