<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit User</h1>
<hr>
<a th:href="@{/}">Home</a> |
<a th:href="@{/admin}">List Users</a> |
<a th:href="@{/admin/create}">Create user</a> |
<a th:href="@{/logout}">Logout</a>
<hr>
<form th:action="@{/admin/create}" method="post">
    <input type="hidden" th:field="*{model.id}">
    <label>
        <input th:field="*{model.username}" >
    </label>Username<br><br>
    <label>
        <input name="password" placeholder="set a new password">
    </label>Password<br><br>
    <label>
        <input th:field="*{model.email}">
    </label>Email<br><br>
    <label>
        <select th:field="*{model.roles}" multiple>
            <th:block th:each="role : ${roles}">
                <p th:value="${role.id}" th:text="${role.name}"></p>
            </th:block>
        </select>
    </label>Roles<br>
    <input type="submit" value="update">
</form>
</body>
</html>